@import '../../utils/variables';
@import '../../utils/breakpoints';

.coverContainer {
  position: relative;
  width: auto;
  background: #f3f3f3 none center 65% no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .coverImageContainer {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
} */

.coverTitleContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  z-index: 2;

  h1 {
    font-size: $type-scale-8;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 2rem;
  }

  h2 {
    font-size: $type-scale-6;
    font-weight: 500;
    line-height: 1.3;
    margin: 1rem;
  }

  @include mappy-bp(medium) {
    margin: 3rem 0 1rem;

    h1 {
      font-size: 4rem;
      line-height: 1.15;
      margin: 0 0 3rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 1.15;
    }
  }
}

.coverTitleContainerRow {
  flex-grow: 1;
  padding: 3rem 1rem;
  max-width: 56rem;
}

.coverTwitter {
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0.25em;
  margin: 0;
  transition: border-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    border: 1px solid #fff;
  }
}

.registerBlock {
  margin: 4rem auto 0;
}

.registerLink {
  // margin: 4rem auto 0;
}

.registerLogo {
  max-width: 200px;
}
