@import '../../utils/variables';
@import '../../utils/breakpoints';

.listItem {
  display: flex;
  min-height: 3em;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: center;
  padding: 1.2em 0.8em;
  overflow: hidden;
  transition: background-color 300ms ease-in-out;

  @include mappy-bp(medium) {
    padding: 2em;
  }
}

.greyItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid #ccc;
  background-color: lighten(#ccc, 15%);

  &:hover,
  &:focus {
    background-color: lighten(#ccc, 11%);
  }
}

.blueItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid $ict-blue;
  background-color: lighten($ict-blue, 55%);

  &:hover,
  &:focus {
    background-color: lighten($ict-blue, 48%);
  }
}

.yellowItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid $ict-yellow;
  background-color: lighten($ict-yellow, 40%);

  &:hover,
  &:focus {
    background-color: lighten($ict-yellow, 33%);
  }
}

.purpleItem {
  color: rgba(0, 0, 0, 0.87);
  border-left: 1em solid $ict-purple;
  background-color: lighten($ict-purple, 52%);

  &:hover,
  &:focus {
    background-color: lighten($ict-purple, 45%);
  }
}

.primary {
  display: block;
  order: 0;
  flex-grow: 2;
  text-decoration: none;
  box-sizing: border-box;
  align-items: center;
}

.timeAndVenue {
  margin-right: 0.5em;
}

.secondary {
  align-items: center;
  padding: 0 0.5em 0 1em;
  line-height: 1;

  @include mappy-bp(medium) {
    display: none;
  }
}

.title {
  color: darken($ict-grey-text, 5%);
  text-decoration: none;
}

a.title {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.subtitle {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 18px;
  color: lighten($ict-grey-text, 5%);
  display: block;
  padding: 0;
}
