@import '../../utils/variables';
@import '../../utils/breakpoints';

.item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.link {
  @include mappy-bp(max medium) {
    color: $ict-grey-text;
    display: block;
    line-height: 3em;
    padding-left: 2em;
    text-decoration: none;
    width: 100%;
  }

  @include mappy-bp(medium) {
    color: lighten($ict-grey-text, 5%);
    display: inline-block;
    // flex-grow: 1;
    font-size: $type-scale-4;
    line-height: $line-height-4;
    padding: 0 0.5rem;
    position: relative;
    text-decoration: none;

    &::after {
      background: transparent;
      content: '';
      display: block;
      height: 2px;
      margin: auto;
      position: relative;
      top: 10px;
      transition: all 0.3s ease;
      width: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $ict-grey-text;
      text-decoration: none;

      &::after {
        background-color: $ict-blue;
        top: 4px;
        width: 100%;
      }
    }
  }
}

.mobileOnly {
  @include mappy-bp(medium) {
    display: none;
  }
}

.active {
  @include mappy-bp(max medium) {
    color: darken($ict-grey-text, 15%);
    font-weight: 500;
  }

  @include mappy-bp(medium) {
    color: darken($ict-grey-text, 5%);

    &::after {
      background-color: $ict-blue;
      top: 4px;
      width: 100%;
    }
  }
}

.primary {
  @include mappy-bp(medium) {
    background-color: $ict-blue;
    border-radius: 1.5em;
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.4em 1.4em;
    text-transform: uppercase;

    &::after {
      height: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: lighten($ict-blue, 5%);
      color: #fff;
    }
  }
}
