@import 'breakpoints';
@import 'variables';

.container {
  margin: auto;
  max-width: $max-width;
  padding: 0 1rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mappy-bp(small) {
    justify-content: flex-start;
  }
}

.header {
  @include mappy-bp(max medium) {
    display: none;
  }

  h1 {
    color: $ict-grey-text;
  }
}

.intro {
  color: $ict-grey-text;

  @include mappy-bp(medium) {
    display: none;
  }

  a {
    color: $ict-blue-text;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $ict-blue-text;
      text-decoration: underline;
    }
  }
}
