@import '../../utils/breakpoints';
@import '../../utils/variables';

.container {
  align-self: flex-end;
  background-color: #fff;
  border-top: 1px solid #f4f4f4;
  padding: 3em 0 4em;
  width: 100%;
}

.innerContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: $max-width;
  width: 100%;

  @include mappy-bp(medium) {
    justify-content: space-between;
  }
}

.section {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 14px;
}

.left {
  justify-content: center;
  margin: 1em 0;

  @include mappy-bp(medium) {
    justify-content: flex-start;
  }
}

.right {
  justify-content: center;

  @include mappy-bp(medium) {
    justify-content: flex-end;
  }
}

.link {
  color: rgb(88, 88, 88);
  padding: 0.5em;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.logoContainer {
  &:focus {
    z-index: 1; // make outline overlaps the sibling elements
  }
}

.logo {
  width: 140px;
}
