@import '../../utils/variables';
@import '../../utils/breakpoints';

.listItem {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  min-height: 3em;
  overflow: hidden;
  padding: 1.2em 0.8em;
  transition: background-color 300ms ease-in-out;

  @include mappy-bp(medium) {
    padding: 2em;
  }
}

.greyItem {
  background-color: lighten(#ccc, 15%);
  border-left: 1em solid #ccc;
  color: rgba(0, 0, 0, 0.87);

  &:hover,
  &:focus {
    background-color: lighten(#ccc, 11%);
  }
}

.blueItem {
  background-color: lighten($ict-blue, 55%);
  border-left: 1em solid $ict-blue;
  color: rgba(0, 0, 0, 0.87);

  &:hover,
  &:focus {
    background-color: lighten($ict-blue, 48%);
  }
}

.yellowItem {
  background-color: lighten($ict-yellow, 40%);
  border-left: 1em solid $ict-yellow;
  color: rgba(0, 0, 0, 0.87);

  &:hover,
  &:focus {
    background-color: lighten($ict-yellow, 33%);
  }
}

.purpleItem {
  background-color: lighten($ict-purple, 52%);
  border-left: 1em solid $ict-purple;
  color: rgba(0, 0, 0, 0.87);

  &:hover,
  &:focus {
    background-color: lighten($ict-purple, 45%);
  }
}

.primary {
  align-items: center;
  box-sizing: border-box;
  display: block;
  flex-grow: 2;
  order: 0;
  text-decoration: none;
}

.timeAndVenue {
  margin-right: 0.5em;
}

.secondary {
  align-items: center;
  line-height: 1;
  padding: 0 0.5em 0 1em;

  @include mappy-bp(medium) {
    display: none;
  }
}

.title {
  color: darken($ict-grey-text, 5%);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.subtitle {
  color: lighten($ict-grey-text, 5%);
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
}

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  @include mappy-bp(medium) {
    align-items: flex-start;
    flex-direction: row;
    margin: 3em 0;
  }
}
