@import '../utils/variables';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.main {
  padding-bottom: 2rem;
  padding-top: $header-height;
  flex-grow: 1;
  background-color: #fcfdfd;
}
